{
  "include": ["src/**/*.js"],
  "lines": 100,
  "branches": 100,
  "statements": 100,
  "functions": 100,
  "reporter": ["lcov"],
  "check-coverage": true,
  "sourceMap": false,
  "instrument": false
}
